.keywordBtn {
  background-color: transparent;
  border: thick solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 1.3rem;
  margin: 0.4em;
  outline: none;
  padding: 0.5em;
  width: 5.5em;
}

.keywordBtn:hover {
  animation: glow 1.5s ease-in-out infinite alternate;
}

/* Desktop */

@media screen and (min-width: 1200px){
  .keywordBtn {
    font-size: 1.6rem;
    margin: auto 0.5em;
    padding: 0.5em;
    width: 6em;
  }
}
