.headline {
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-bottom: 0.5em;
  width: 95%;
}

.backgroundVideo {
  background-size: cover;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: -1;
}

/* Desktop */

@media screen and (min-width: 1200px){
  .headline {
    width: 50%;
  }
}
